<div class="p-[20px]">
  <div class="mb-[40px]">
    <app-statistic></app-statistic>
  </div>

  <div class="gap-[26px] mb-[40px]">
    <app-line-chart [title]="'Средний результат'" [styleClass]="'w-full h-[510px] shadow-[0_0_10px_#00000040]'"></app-line-chart>
  </div>

  <div class="mb-[40px]">
    <app-statistic-2></app-statistic-2>
  </div>

  <div class="grid grid-cols-1 md:grid-cols-3 gap-[26px] mb-[40px]">
    <app-pie-chart [data]="startCourses" [colorIndex]="0" [styleClass]="'w-full h-[345px] shadow-[0_0_10px_#00000040]'"></app-pie-chart>
    <app-pie-chart [data]="purposeOfCertificates" [colorIndex]="1" [styleClass]="'w-full h-[345px] shadow-[0_0_10px_#00000040]'"></app-pie-chart>
    <app-pie-chart [data]="averageResult" [colorIndex]="2" [styleClass]="'w-full h-[345px] shadow-[0_0_10px_#00000040]'"></app-pie-chart>
  </div>

  <div class="grid grid-cols-1 xl:grid-cols-2 gap-[14px] mb-[40px]">
    <app-racing-bar-chart [data]="uniqueUsersByRegion" [colorIndex]="0" [styleClass]="'w-full h-[510px] shadow-[0_0_10px_#00000040]'"></app-racing-bar-chart>
    <app-racing-bar-chart [data]="certificatesByRegion" [colorIndex]="1" [styleClass]="'w-full h-[510px] shadow-[0_0_10px_#00000040]'"></app-racing-bar-chart>
  </div>

  <div class="grid grid-cols-1 xl:grid-cols-2 gap-[14px] mb-[40px]">
    <app-pie-gender-chart [data]="pieStatisticGender" [styleClass]="'w-full h-[510px] shadow-[0_0_10px_#00000040]'"></app-pie-gender-chart>
    <app-bar-chart [data]="barStatisticGender" [styleClass]="'w-full h-[510px] shadow-[0_0_10px_#00000040]'" ></app-bar-chart>
  </div>


</div>
