<div #chartContainer class="p-[20px] flex flex-col gap-[20px] bg-[white] rounded-[16px] {{styleClass}}">
  <div class="w-full flex justify-center">
    <p class="font-semibold text-[18px] text-center">{{data.title}}</p>
  </div>
  <div class="w-full h-full relative">
    <div class="absolute flex flex-col items-center justify-center w-[100%] h-[100%] z-10">
      <div class=" rounded-[50%] flex flex-col items-center justify-center">
        <p class="text-center text-[28px] font-bold">{{getPrecent(data.totalValue, data.currentValue)}}%</p>
        <p class="text-center text-[18px] font-semibold text-[#686082BF]">{{data.currentValue}}</p>
      </div>
    </div>
    <div echarts [options]="option" class="chart" style="height: 100%;"></div>
  </div>
</div>
