<div #chartContainer class="p-[20px] flex flex-col gap-[20px] bg-[white] rounded-[16px] {{styleClass}}">
  <div class="w-full flex justify-center">
    <p class="font-semibold text-[18px]">{{title}}</p>
  </div>
  <div class="w-full h-full relative">
    <div class="absolute flex flex-col items-center justify-center w-[100%] h-[100%]">
      <div class="shadow-[0_0_20px_#00000030] w-[50%] h-[0] py-[25%] lg:w-[145px] lg:h-[145px] lg:py-0 rounded-[50%] flex flex-col items-center justify-center">
        <p class="text-center text-[28px] font-bold">{{total}}</p>
        <p class="text-center text-[18px] font-semibold text-[#686082BF]">{{totalText}}</p>
      </div>
    </div>
    <div echarts [options]="options" class="chart" style="height: 100%;"></div>
  </div>
</div>
