

<div class="w-full p-[20px]" >
  <div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-4 gap-[16px] ">
    <div class="py-[24px] pr-[14px] pl-[20px] rounded-[24px] shadow-[0_6px_32.6px_0_#1518371C]">
      <div class="flex justify-between">
        <div class="flex items-center gap-[8px]">
          <img src="./assets/icons/dot.svg" alt="">
          <p class="text-[#3620B7] font-semibold max-[1360px]:text-[14px]">{{userStatistic.title}}</p>
        </div>
        <button class="cursor-pointer">
          <img src="./assets/imgs/image.png" alt="">
        </button>
      </div>
      <div class="mt-[10px]">
        <p class="font-bold text-[30px] xl:text-[36px] ">{{userStatistic.value}}</p>
        <div class="mt-[10px] flex items-center gap-[4px]">
          <img src="./assets/icons/arrow-up.svg" alt="">
          <p class="text-[#027A48] text-[14px] font-semibold">{{userStatistic.proccent}}</p>
          <p class="text-[#6A628C] text-[13px]">{{userStatistic.text}}</p>
        </div>
      </div>
    </div>

    <div class="py-[24px] pr-[14px] pl-[20px] rounded-[24px] shadow-[0_6px_32.6px_0_#1518371C]">
      <div class="flex justify-between">
        <div class="flex items-center gap-[8px]">
          <img src="./assets/icons/dot.svg" alt="">
          <p class="text-[#3620B7] font-semibold max-[1360px]:text-[14px]">{{coursesStatistic.title}}</p>
        </div>

        <button class="cursor-pointer">
          <img src="./assets/imgs/image.png" alt="">
        </button>
      </div>
      <div class="mt-[10px]">
        <p class="font-bold text-[30px] xl:text-[36px] ">{{coursesStatistic.value}}</p>
        <div class="mt-[10px] flex items-center gap-[4px]">
          <img src="./assets/icons/arrow-up.svg" alt="">
          <p class="text-[#027A48] text-[14px] font-semibold">{{coursesStatistic.proccent}}</p>
          <p class="text-[#6A628C] text-[13px]">{{coursesStatistic.text}}</p>
        </div>
      </div>
    </div>
    <div class="py-[24px] pr-[14px] pl-[20px] rounded-[24px] shadow-[0_6px_32.6px_0_#1518371C]">
      <div class="flex justify-between">
        <div class="flex items-center gap-[8px]">
          <img src="./assets/icons/dot.svg" alt="">
          <p class="text-[#3620B7] font-semibold max-[1360px]:text-[14px]">{{averageTimeStatistic.title}}</p>
        </div>

        <button class="cursor-pointer">
          <img src="./assets/imgs/image.png" alt="">
        </button>
      </div>
      <div class="mt-[10px]">
        <p class="font-bold text-[30px] xl:text-[36px] ">{{getDay(averageTimeStatistic.date)}}д : {{getHours(averageTimeStatistic.date)}}ч : {{getMinutes(averageTimeStatistic.date)}}м</p>
        <div class="mt-[10px] flex items-center gap-[4px]">
          <p class="text-[#6A628C] text-[13px]">{{averageTimeStatistic.text}}</p>
        </div>
      </div>
    </div>
    <div class="py-[24px] pr-[14px] pl-[20px] rounded-[24px] shadow-[0_6px_32.6px_0_#1518371C]">
      <div class="flex justify-between">
        <div class="flex items-center gap-[8px]">
          <img src="./assets/icons/dot.svg" alt="">
          <p class="text-[#3620B7] font-semibold max-[1360px]:text-[14px]">{{participatingSchoolsStatistic.title}}</p>
        </div>

        <button class="cursor-pointer">
          <img src="./assets/imgs/image.png" alt="">
        </button>
      </div>
      <div class="mt-[10px]">
        <p class="font-bold text-[30px] xl:text-[36px] ">{{participatingSchoolsStatistic.value}}</p>
        <div class="mt-[10px] flex items-center gap-[4px]">
          <p class="text-[#6A628C] text-[13px]">{{participatingSchoolsStatistic.text}}</p>
        </div>
      </div>
    </div>
  </div>
</div>
