<div class="p-[10px] w-full grid gap-[30px]">
  <div class="grid grid-cols-1 xl:grid-cols-2 gap-[20px]">
    <app-chart [title]="'Статистика по полу'" [options]="genderOptions" [styleClass]="'w-full h-[430px] shadow'" [total]="'2200'" [totalText]="'Умумий сони'"></app-chart>
    <app-chart [title]="'Статистика по возрасту'" [options]="barChartOptions"  [styleClass]="'w-full h-[430px] shadow'"></app-chart>
  </div>
  <div class="relative">
    <div class="absolute grid grid-cols-3 gap-[10px] left-[20%] sm:left-[43%] top-[10px]">
      <button class="border border-[#6E62E5] hover:bg-[#6E62E5] hover:text-[white] py-[5px] px-[21px] rounded-[50px] cursor-pointer" (click)="updateActivePeiod('month')">Month</button>
      <button class="border border-[#6E62E5] hover:bg-[#6E62E5] hover:text-[white] py-[5px] px-[21px] rounded-[50px] cursor-pointer" (click)="updateActivePeiod('day')">Days</button>
      <button class="border border-[#6E62E5] hover:bg-[#6E62E5] hover:text-[white] py-[5px] px-[21px] rounded-[50px] cursor-pointer" (click)="updateActivePeiod('hour')">Hour</button>
    </div>
    <app-chart  [options]="activePeriodChartOptions" [styleClass]="'w-full h-[430px] shadow pt-[50px]'"></app-chart>
  </div>
  <div class="grid grid-cols-1 xl:grid-cols-2 gap-[20px]">
    <app-chart [options]="topFamousCoursesOptions" [styleClass]="'w-full h-[430px] shadow'"></app-chart>
    <app-chart [options]="topCoursesOnPerfomenceOptions" [styleClass]="'w-full h-[430px] shadow'"></app-chart>
  </div>

  <div class="grid grid-cols-1 lg:grid-cols-3 sm:grid-cols-2 gap-[37px]">
    <app-data [title]="'Всего пользователей'" [data]="'1 234 567'" [styleClass]="'shadow'"></app-data>
    <app-data [title]="'Всего курсов'" [data]="'8'" [styleClass]="'shadow'"></app-data>
    <app-data [title]="'Среднее время прохождения'" [data]="'12 : 05 : 46 '" [styleClass]="'shadow'"></app-data>
    <app-data [title]="'Выдано сертификатов'" [data]="'3 598'" [styleClass]="'shadow'"></app-data>
    <app-data [title]="'Ташкилотлар сони'" [data]="'3 598'" [styleClass]="'shadow'"></app-data>
    <app-data [title]="'Уртача натижа'" [data]="'82,6 %'" [styleClass]="'shadow'"></app-data>
  </div>

  <input type="text" name="" id="">
</div>
