

<div class="w-full" >
  <div class="flex justify-between gap-[16px] p-[14px] rounded-[24px] shadow-[0_6px_32.6px_0_#1518371C]">
    <div class="pl-[4px]  ">
      <div class="flex justify-between">
        <div class="flex items-center gap-[8px]">
          <p class="text-[#94A3B8] font-semibold text-[16px] lg:text-[16px]">{{title}}</p>
        </div>
      </div>
      <div class="mt-[10px]">
        <p class="font-bold text-[36px] ">{{value | number}}</p>
      </div>
    </div>

    <div class="rounded-[12px] bg-[#F8FAFC] flex flex-col items-center px-[16px] pt-[8px]">
      <img src="./assets/icons/reyting-up.svg" alt="">
      <p class="text-[#059669] font-semibold text-[32px]">+{{income}}</p>
    </div>
  </div>
</div>
